.button-change-theme {
    width: 8rem;
    height: 2rem;
    background-color: rgb(83, 241, 88);
    border: 1px solid greenyellow;
    border-radius: 10px;
}

.button-change-theme:hover {
    background-color: rgb(65, 189, 69);
}

.button-change-theme:active {
    background-color: yellow;
}